name: macOS (unsigned R) CI

on:
  workflow_dispatch:
  push:
    branches: [main, master]
  pull_request:

jobs:
  test-macos-unsigned:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download unsigned R binary
        run: |
          curl -LO https://mac.r-project.org/big-sur/R-4.5-branch/arm64/R-4.5-branch.tar.gz
          sudo tar -xzf R-4.5-branch.tar.gz -C /
          # echo "/Library/Frameworks/R.framework/Resources/bin" >> $GITHUB_PATH
          echo "R_HOME=/Library/Frameworks/R.framework/Resources" >> $GITHUB_ENV
          
      - name: Create /opt/R/arm64 symlinks
        run: |
          sudo mkdir -p /opt/R/arm64
          sudo ln -sf /Library/Frameworks/R.framework/Versions/4.5-arm64/Resources/include /opt/R/arm64/include
          sudo ln -sf /Library/Frameworks/R.framework/Versions/4.5-arm64/Resources/lib /opt/R/arm64/lib

      - name: Check R version
        run: |
          "/Library/Frameworks/R.framework/Resources/bin/R" --version

      - name: Install dependencies
        run: |
          "/Library/Frameworks/R.framework/Resources/bin/Rscript" -e 'install.packages(c("devtools", "tinytest"), repos="https://cloud.r-project.org")'

      - name: Install package
        run: |
          "/Library/Frameworks/R.framework/Resources/bin/R" CMD BUILD --preclean .
          "/Library/Frameworks/R.framework/Resources/bin/R" CMD INSTALL Rtinycc_*.tar.gz
      - name: Run tests
        run: |
          "/Library/Frameworks/R.framework/Resources/bin/Rscript" -e 'tinytest::test_package("Rtinycc")'
